<div class="search-container">
  <%= form_tag(games_search_path, remote: true) do %>
    <div class="field">
      <%= label_tag :genre, "Genre: "%>
      <%= select_tag :genre, options_from_collection_for_select(
        # if genre.name == passed_parameter_string == "RPG", get the rpg games
        @genres.to_a.unshift(Genre.new(id: 0, name: 'All')), #adding a blank 'All' option and shifting it at the top of an array
        "name",
        "name",
        "0") %> 
        <%= label_tag :order, "Game order"%>
        <%= select_tag :order, options_for_select([
          "A-Z", 
          "Z-A", 
          "By Highest Rating",
          "By Lowest Rating",
          "By Newest",
          "By Oldest"
        ]), { include_blank: "Order" } %>
            <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<div id="genres">
  <%= render 'games/genres' %>
</div>